<!DOCTYPE html>
<html>
  <head>
    <title>Omozan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property='og:title' content='Omozan'/>
    <meta property='og:image' content=<%= image_url('Readme/screenshot.png') %>/>
    <meta property='og:description' content='A clone of well-known e-commerce website Amazon.'/>
    <meta property='og:url' content='https://omozan.herokuapp.com/'/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/jpg" href="<%= image_url('favicon.png')%>"/>
    

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript">
      window.cartURL = "<%= image_url('cart.png') %>";
      window.darkLogoURL = "<%= image_url('dark-logo.png') %>";
      window.glassIconURL = "<%= image_url('glass-icon.png') %>";
      window.logoURL = "<%= image_url('logo.png') %>";
      window.splashLogoURL = "<%= image_url('splash-logo.jpg') %>";
      window.starsURL = "<%= image_url('stars.png') %>"
      window.avatarURL = "<%= image_url('avatar.png')%>"
      window.no_productURL = "<%= image_url('no_products_found.png')%>"
      window.report_abuseURL = "<%= image_url('report_abuse.jpg')%>"
      window.empty_cartURL  = "<%= image_url('empty_cart.png')%>"
      window.checkout_picURL  = "<%= image_url('checkout_pic.jpg')%>"
      window.github_picURL = "<%= image_url('github.png') %>"
      window.linkedin_picURL = "<%= image_url('linkedin.png') %>"
      window.facebook_picURL = "<%= image_url('facebook.png') %>"
      window.angellist_picURL = "<%= image_url('angellist.png') %>"
      window.portfolio_picURL = "<%= image_url('portfolio.png') %>"

      // splash images
      window.macbook_picURL = "<%= image_url('splash/macbook_air.jpg') %>"
      window.meow_picURL = "<%= image_url('splash/meow.jpg') %>"
      window.imucci_picURL = "<%= image_url('splash/imucci.jpg') %>"
      window.motog_picURL = "<%= image_url('splash/motog.jpg') %>"
      window.vibe_picURL = "<%= image_url('splash/vibe.jpg') %>"
      window.wlive_picURL = "<%= image_url('splash/wlive.jpg') %>"
      window.ball_picURL = "<%= image_url('splash/ball_regular.jpg') %>"
      window.soundlink_picURL = "<%= image_url('splash/soundlink.jpg') %>"

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
