<!DOCTYPE html>
<html>
  <head>
    <title>Omozan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/jpg" href="<%= image_url('favicon.png')%>"/>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript">
      window.cartURL = "<%= image_url('cart.png') %>";
      window.darkLogoURL = "<%= image_url('dark-logo.png') %>";
      window.glassIconURL = "<%= image_url('glass-icon.png') %>";
      window.logoURL = "<%= image_url('logo.png') %>";
      window.splashLogoURL = "<%= image_url('splash-logo.jpg') %>";
      window.starsURL = "<%= image_url('stars.png') %>"
      window.avatarURL = "<%= image_url('avatar.png')%>"
      window.no_productURL = "<%= image_url('no_products_found.png')%>"
      window.report_abuseURL = "<%= image_url('report_abuse.jpg')%>"

      //splash page images
      window.img1 = "<%= image_url('splash-tabs/img1.jpg') %>";
      window.img2 = "<%= image_url('splash-tabs/img2.jpg') %>";
      window.img3 = "<%= image_url('splash-tabs/img3.jpg') %>";
      window.img4 = "<%= image_url('splash-tabs/img4.jpg') %>";
      window.img5 = "<%= image_url('splash-tabs/img5.jpg') %>";
      window.img6 = "<%= image_url('splash-tabs/img6.jpg') %>";
      window.img7 = "<%= image_url('splash-tabs/img7.jpg') %>";
      window.img8 = "<%= image_url('splash-tabs/img8.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
